.background {
    -fx-background-color: lightblue;
}

.question-box {
    -fx-background-color: #3232ce;
    -fx-padding: 20;
    -fx-spacing: 10;
}

.question-textField {
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-background-color: #3232ce;
}

.answer-button {
    -fx-background-color: #3232ce;
    -fx-text-fill: white;
    -fx-min-width: 200;
    -fx-font-size: 16;
}

.ui-label{
    -fx-font-size: 18;
    -fx-text-fill: #ecb406;
    -fx-font-weight: bold;
}

.answer-button:hover {
    -fx-background-color: #4747c4;
}

.joker {
    -fx-background-color: #ecb406;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-min-width: 40;
    -fx-min-height: 40;
}

.joker:hover {
    -fx-background-color: #f5e021;
}