/* General Styled*/
.background {
    -fx-background-color: lightblue;
}

.headerLabels {
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #3232ce;
    -fx-background-radius: 10;
    -fx-min-width: 400px;
    -fx-min-height: 30px;
}

.button {
    -fx-background-color: #3232ce;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #4747c4;
}

.back-button {
    -fx-min-width: 150;
    -fx-font-size: 15;
    -fx-max-height: 20;
    -fx-background-color: darkred;
}

.delete-button {
    -fx-background-color: darkred;
    -fx-min-height: 25;
    -fx-min-width: 25;
    -fx-max-height: 25;
    -fx-max-width: 25;
}

.table-view {
    -fx-text-fill: white;
    -fx-padding: 0;
    -fx-border-width: 5;
    -fx-border-radius: 5;
    -fx-border-color: #3232ce;
}

.table-row-cell {
    -fx-background-color: #3232ce; /* Hintergrundfarbe der Tabellenzeilen */
}

.table-view .column-header,
.table-view .table-cell {
    -fx-background-color: white; /* Hintergrundfarbe des Column Headers und der Zellen */
    -fx-border-width: 0;
    -fx-font-size: 15;
    -fx-alignment: CENTER;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: #3232ce;
    -fx-text-fill: white;
}


.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

/* Menu */

.menu-button {
    -fx-pref-width: 300;
    -fx-font-size: 25;
}

.scoreHeader {
    -fx-font-size: 30;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #3232ce;
    -fx-background-radius: 20;
}

.top10Label{
    -fx-min-width: 350px;
}

/* GameSetting View */

.headerLabels {
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #3232ce;
    -fx-background-radius: 10;
    -fx-min-width: 400px;
    -fx-min-height: 30px;
}

.mode-button {
    -fx-min-width: 300;
    -fx-font-size: 20;
    -fx-min-height: 50;
}

/* Questionnaires View */
.export-button {
    -fx-background-color: #3232ce;
}

.import-button {
    -fx-background-color: green;
}

.list-view{
    -fx-border-color: #3270ce;
    -fx-border-width: 3px;
    -fx-border-radius: 5;
}

/* Score History View */
.scoreHistoryLabel{
    -fx-min-width: 1000px;
}

.question-box {
    -fx-background-color: #3232ce;
    -fx-padding: 20;
    -fx-spacing: 10;
}

.question-textField {
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-background-color: #3232ce;
}

.ui-label {
    -fx-font-size: 18;
    -fx-text-fill: #b75e05;
    -fx-font-weight: bold;
}

.answer-button {
    -fx-min-width: 200;
    -fx-font-size: 16;
}

.commit-button {
    -fx-min-width: 200;
    -fx-font-size: 16;
}

.answer-textField-right {
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: green;
    -fx-min-width: 200;
    -fx-font-size: 16;
}

.answer-textField-wrong {
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: darkred;
    -fx-min-width: 200;
    -fx-font-size: 16;
}

.chart-bar {
    -fx-bar-fill: #3232ce;
}

.chart {
    -fx-font-size: 20;
}

.answer-button-right {
    -fx-background-color: green;
}

.answer-button-wrong {
    -fx-background-color: darkred;
}

.joker {
    -fx-background-color: #ecb406;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-min-width: 40;
    -fx-min-height: 40;
}

.joker:hover {
    -fx-background-color: #f5e021;
}

.stop-button {
    -fx-background-color: darkred;
    -fx-pref-width: 200;
    -fx-font-size: 25;
}

.stop-button:hover {
    -fx-background-color: #8c2121;
}